/*
 Conservative inline style sheet for these use cases:
 - the browser and/or its configuration is not supported
 - the script assets are still loading
 - parsing the loaded script assets produced a fatal exception
 */

#zs-static {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #666;
  background: #fff;
  text-align: center;
  font: 1rem/1.5 sans-serif;
}

#zs-static > table {
  width: 100%;
  height: 100%;
}

#zs-static td > div {
  display: inline-block;
}

#zs-static s {
  color: #14689B;
}

#zs-static hr {
  display: none;
}

#zs-static a {
  color: #f00;
  background: transparent;
  text-decoration: none;
}

@keyframes zs-static-pulse {
  0% {
    color: #14689B;
  }
  50% {
    color: #aad544;
  }
}
